<md-card class="example-card">
  <div *ngFor="let notification of notifications">
    <button type="submit" md-raised-button (click)="goto(notification.area, notification.post.id)">
      <div class="notifCount">
        <h2>{{notification.comments.length}}</h2>
      </div>
      <ng-container class="notifications">{{notification.post.text | slice:0:31}}</ng-container><ng-container *ngIf="notification.post.text.length > 32">…</ng-container>
      <br>
      –{{notification.post.author.name}}
    </button>
  </div>
</md-card>
