<md-card class="example-card">
  <md-card>
    <button md-button (click)="back()"><i class="material-icons">arrow_back</i></button>
    <div *ngIf="post?.author?.user == userID" class="deleteButtons"><button md-button color="warn" (click)="deletePost()"><i class="material-icons">delete</i></button></div>
  <md-card-content>
    <span class="mainText"><div markdown-to-html [data]="post?.text"></div></span>
  </md-card-content>
  <md-card-header>
    <small><i><a routerLink="/user/{{post?.author?.user}}" routerLinkActive="active">{{post?.author?.name}}</a> | {{post?.created}}</i></small>
  </md-card-header>
  <div class="postEditing">
  <button class="linkingButtons" md-button [class.btn-success]= "isCopied" type="button" ngxClipboard [cbContent]="text" (cbOnSuccess)="isCopied = true"><i class="material-icons">link</i></button>
  <input class="hideMeClass"type="text" [(ngModel)]="text">
  <div *ngIf="!post?.subscribed">
    <button md-button (click)="subscribe(true)"><i class="material-icons">turned_in_not</i></button>
  </div>
  <div *ngIf="post?.subscribed">
    <button md-button (click)="subscribe(false)"><i class="material-icons">turned_in</i></button>
  </div>
</div>
</md-card>
    <md-input-container>
      <textarea mdInput name="comment" rows="3" cols="40" type="text" name="post" [(ngModel)]="model.comment" #comment="ngModel" placeholder="Post a Comment"></textarea>
    </md-input-container>
    <br>
    <button md-raised-button color="accent" [disabled]="loading" (click)="postComment()"><b>Comment</b></button>

  <md-list>
    <div *ngFor="let comment of post?.comments">
      <md-card class="comment-card">
        <div *ngIf="comment.author?.user == userID" class="deleteButtons"><button md-button color="warn" (click)="deleteComment(comment)"><i class="material-icons">delete</i></button></div>
        <md-card-content>
          <div markdown-to-html [data]="comment.text"></div>
        </md-card-content>

        <md-card-header><small><i><a routerLink="/user/{{comment.author.user}}" routerLinkActive="active">{{comment.author.name}}</a>  | {{comment.created}}</i></small></md-card-header>
      </md-card>
    </div>
  </md-list>
</md-card>
