<!-- Image Component -->
<div id="image">
  <div fxLayout="column" class="imageUpload-container">
    <div fxLayout="row" fxFlexOffset="2rem" fxLayoutAlign="space-between start" style="width: 100%;">
      <i class="material-icons" style="font-size: 40px;cursor: pointer;" (click)="back()">keyboard_arrow_left</i>
    </div>
    <div class="imageUpload-image">
      <img *ngIf="author?.avatar" [src]="author?.avatar" alt="Avatar of {{author?.name}}" style="border-radius: 50%;background: #d3d3d3;" />
      <img *ngIf="!author?.avatar" src="/assets/logo.png" alt="Avatar of {{author?.name}}" style="border-radius: 50%;background: #d3d3d3;" />
    </div>
    <div fxLayout="row" class="imageUpload-button" fxFlexOffset="2rem">
      <button mat-flat-button class="imageUpload-button" style="background: #EA6C40;color: #ffffff;" [disabled]="loading">Upload Image</button>
      <input style="cursor: pointer;" id="imageUpload-upload" type="file" accept="image/jpg, image/jpeg, image/png" (change)="uploadImage()" hidden/>
    </div>
    <!-- <div *ngIf="editBio" fxLayout="row" class="imageUpload-button" fxFlexOffset="2rem">
      <button mat-flat-button class="imageUpload-button" style="background: #EA6C40;color: #ffffff;" [disabled]="loading" (click)="toggleBio()">Save</button>
    </div> -->

    <div *ngIf="loading" fxLayoutAlign="center center" fxFlexOffset="2rem">
      <mat-progress-spinner></mat-progress-spinner>
    </div>
  </div>
</div>
