.password {
  &-button {
    width: 100%;
    font-family: 'Mukta', sans-serif;
    border: 1px solid #EA6C40;
    border-radius: 4px;
    font-weight: 700;
    position: relative;
    & input[type="file"]{
      -webkit-appearance:none;
      position:absolute;
      top:0;
      left:0;
      opacity:0;
      width: 100%;
      height: 100%;
    }
    &-group {
      height: 25vh;
      padding-left: 3rem;
      padding-right: 3rem;
      background: transparent !important;
      width: 100%;
    }
  }
  &-container {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    max-width: 1000px;
  }
  &-input {
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    color: #A2A2A2;
    margin: 0;
    padding: 0;
    max-width: 1000px;
    overflow-y: auto;
  }
  &-title {
    font-size: 3rem;
    text-align: left;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    max-width: 1000px;
  }
}

p {
  color:#A2A2A2;
}
