<ng-container (messageEvent)="receiveMessage($event)"></ng-container>
<nav [style.display]="style" id="navB" md-tab-nav-bar aria-label="Navigation links">
  <a md-tab-link
    *ngFor="let routeLink of routeLinks; let i = index"
    [routerLink]="routeLink.link"
    [active]="activeLinkIndex === i"
    (click)="activeLinkIndex = i">
    {{routeLink.label}}
  </a>
</nav>

<nav [style.display]="style" id="navBMobile" md-tab-nav-bar aria-label="Navigation links">
  <md-card id="mobileNav">
  <a md-tab-link
    *ngFor="let routeLink of mobileRouteLinks; let i = index"
    [routerLink]="routeLink.link"
    [active]="activeLinkIndex === i"
    (click)="activeLinkIndex = i">
    <div class="mobileButtons" [innerHtml]="routeLink.label"></div>
  </a>
  </md-card>
</nav>

<router-outlet></router-outlet>
