.home {
  &-area {
    &-card {
      width: 80vw;
      height: 15vw;
      margin-top: 5%;
      background: linear-gradient(0deg, #A2A2A2, #A2A2A2), linear-gradient(180deg, #A2A2A2 0%, #d3d3d3 99.99%);
      box-shadow: 0px 0.986257px 7.39693px rgba(0, 0, 0, 0.3);
      &-add {
        width: 15vw;
        height: 15vw;
        margin-left: 5vw;
        margin-top: 5%;
        background: linear-gradient(0deg, #A2A2A2, #A2A2A2), linear-gradient(180deg, #A2A2A2 0%, #d3d3d3 99.99%);
        box-shadow: 0px 0.986257px 7.39693px rgba(0, 0, 0, 0.3);
      }
    }
  }
  &-content {
    &-container {
      width: 100%;
      top: 0;
      left: 0;
      // z-index: -1;
    }
  }
  &-input {
    font-size: 100%;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    color: #A2A2A2;
    margin: 0;
    padding: 0;
    max-width: 1000px;
    overflow-y: auto;
  }
  &-container {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    max-width: 1000px;
  }
  &-subtitle {
    text-align: left;
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-title {
    font-size: 3rem;
    text-align: left;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    max-width: 1000px;
  }
  &-comment {
    &-container {
      width: 100%;
      max-width: 1000px;
    }
  }
}

#comment {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

#comment-box {
  flex-direction: row;
  box-sizing: border-box;
  flex-direction: column;
  place-content: center space-between;
  align-items: center;
  height: 5vh;background: #ffffff;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0px -1px 50px rgba(0, 0, 0, 0.25);
  width: 100%;
}

#comment-tab {
  display: none;
  flex-direction: row;
  box-sizing: border-box;
  flex-direction: column;
  place-content: center space-between;
  align-items: center;
  height: 5vh;
  background: #ffffff;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0px -1px 50px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

p.marked span.markdown p {
  color: #333333 !important;
}

p {
  color:#A2A2A2;
}

.hideEndorse {
  margin-top: 75vh !important;
}

.icon-circle {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #d3d3d3;
}

.profile {
  &-title {
    font-size: 3rem;
    text-align: left;
    font-family: "Mukta", sans-serif;
    font-weight: 600;
    max-width: 1000px;
  }
}

#comment-box {
  display: none;
  flex-direction: row;
  box-sizing: border-box;
  place-content: center space-between;
  align-items: center;
}
