<md-card class="example-card">
  <md-card>
    <div *ngIf="errors && errors.non_field_errors" class="alert alert-danger">
      <ul *ngFor="let err of errors.non_field_errors">
        <li>{{err}}</li>
      </ul>
    </div>

    <div class="form-group">
      <md-input-container>
        <textarea mdInput rows="4" cols="80" type="text" name="post" [(ngModel)]="model.card" #comment="ngModel" ></textarea>
      </md-input-container>
      <div *ngIf="errors && errors._text" class="help-block">
        <ul *ngFor="let err of errors._text">
          <li>{{err}}</li>
        </ul>
      </div>
      <br>
      <button md-raised-button (click)="createPost()" color="accent" [disabled]="loading"><b>Create</b></button>
      <md-spinner *ngIf="loading"></md-spinner>
    </div>
  </md-card>
</md-card>

<div id="toggle">
  Current Area:<br>
  Fun  &nbsp;<md-slide-toggle
  class="example-margin"
  [color]="color"
  [checked]="checked"
  (change)="onChange($event)">Information</md-slide-toggle>
</div>
