<md-card class="example-card">
  <md-card-content>
    <a routerLink="/" routerLinkActive="active"><img class="logo" src="https://static.wildfyre.net/wildfyre.png" alt="WildFyre"></a>
    <h2>Recover Password</h2>
    <div class="alert alert-danger">
      <h2>Warning!</h2>
      Do not close this webpage or you will have to restart!<br>
      We sent a Password Reset Token to you via the information provided.<br>
      You must have it in order to continue using this form!
    </div>
    <div class="alert alert-info">
      Passwords must contain at least 8 characters and be alphanumeric (At least 1 letter and 1 number)
    </div>
    <form name="form" id="signup-form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
      <div *ngIf="errors && errors.non_field_errors" class="alert alert-danger">
        <ul *ngFor="let err of errors.non_field_errors">
          <li>{{err}}</li>
        </ul>
      </div>

      <div class="form" [ngClass]="{ 'has-error': f.submitted && (!token.valid || (errors && errors._token)) }">
        <md-input-container>
          <input mdInput placeholder="Password Reset Token" type="text" name="token" [(ngModel)]="model.token" #token="ngModel" required />
        </md-input-container>
        <div *ngIf="f.submitted && !token.valid" class="help-block">Token is required</div>
        <div *ngIf="errors && errors._token" class="help-block">
          <ul *ngFor="let err of errors._token">
            <li>{{err}}</li>
          </ul>
        </div>
      </div>

      <div class="form" [ngClass]="{ 'has-error': f.submitted && (!password.valid || (errors && errors._new_password)) }">
        <md-input-container>
          <input mdInput placeholder="Password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        </md-input-container>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        <div *ngIf="errors && errors._new_password" class="help-block">
          <ul *ngFor="let err of errors._new_password">
            <li>{{err}}</li>
          </ul>
        </div>
      </div>

      <div class="form" [ngClass]="{ 'has-error': f.submitted && (!password2.valid || (errors && errors._new_password)) }">
        <md-input-container>
          <input mdInput placeholder="Password (repeat)" type="password" name="password2" [(ngModel)]="model.password2" #password2="ngModel" required />
        </md-input-container>
        <div *ngIf="f.submitted && !password2.valid" class="help-block">Password is required</div>
        <div *ngIf="errors && errors._new_password" class="help-block">
          <ul *ngFor="let err of errors._new_password">
            <li>{{err}}</li>
          </ul>
        </div>
      </div>

      <div class="captcha" style="transform:scale(0.80);transform-origin:0 0">
        <re-captcha (captchaResponse)="setCaptchaResponse($event)" site_key="6LcXViIUAAAAABZF263l-SJh3rZAe95Sx2LPN-Dc"></re-captcha>
        <div *ngIf="errors && errors._captcha" class="help-block has-error">
          <ul *ngFor="let err of errors._captcha">
            <li>{{err}}</li>
          </ul>
        </div>
      </div>
      <div class="form">
        <button class="wideButtons" md-raised-button color="accent" [disabled]="loading">Reset</button>
        <md-spinner *ngIf="loading"></md-spinner>
      </div>
      </form>

  </md-card-content>
</md-card>
