<md-card class="example-card">
  <div id="toggle">
    Current Area:<br>
    Fun  &nbsp;<md-slide-toggle
    class="example-margin"
    color="warn"
    [checked]="checked"
    (change)="onChange($event)">Information</md-slide-toggle>
  </div>
  <md-input-container>
    <input mdInput placeholder="Search Posts" type="text" name="search" (input)="searchInput()" [(ngModel)]="model.postText" #postText="ngModel" autocomplete="off" />
  </md-input-container>
  <md-spinner *ngIf="loading"></md-spinner>

  <masonry *ngIf="!checked && !searching">
    <masonry-brick class="brick" *ngFor="let post of backupFunPosts; let i = index">
        <md-card class="userPostsGrid" (click)="goto('fun', post.id)">
            <font size="0.1">
              <ng-container *ngIf="funImageArray[i]">
                <h1><i class="material-icons">image</i></h1>
              </ng-container>
              <span class="mainText" [innerHTML]="post.text | slice:0:200 | marked"></span><ng-container *ngIf="post.text.length > 200">...</ng-container>
              <hr>
              {{post.created}}
          </font>
        </md-card>
    </masonry-brick>
  </masonry>

  <masonry *ngIf="checked && !searching">
    <masonry-brick class="brick" *ngFor="let post of backupInfoPosts; let i = index">
      <md-card class="userPostsGrid" (click)="goto('information', post.id)">
        <font size="0.1">
          <ng-container *ngIf="infoImageArray[i]">
            <h1><i class="material-icons">image</i></h1>
          </ng-container>
          <span class="mainText" [innerHTML]="post.text | slice:0:200 | marked"></span><ng-container *ngIf="post.text.length > 200">...</ng-container>
          <hr>
          {{post.created}}
      </font>
      </md-card>
    </masonry-brick>
  </masonry>

  <masonry *ngIf="!checked && searching">
    <md-card class="userPostsGrid" style="margin: 0 auto; text-align: center;" *ngIf="searchArray.length === 0">
      No posts match this search
    </md-card>
    <masonry-brick class="brick" *ngFor="let post of searchArray; let i = index">
        <md-card class="userPostsGrid" (click)="goto('fun', post.id)">
            <font size="0.1">
              <ng-container *ngIf="funImageArray[i]">
                <h1><i class="material-icons">image</i></h1>
              </ng-container>
              <span class="mainText" [innerHTML]="post.text | slice:0:200 | marked"></span><ng-container *ngIf="post.text.length > 200">...</ng-container>
              <hr>
              {{post.created}}
          </font>
        </md-card>
    </masonry-brick>
  </masonry>

  <masonry *ngIf="checked && searching">
    <md-card class="userPostsGrid" style="margin: 0 auto; text-align: center;" *ngIf="searchArray.length === 0">
      No posts match this search
    </md-card>
    <masonry-brick class="brick" *ngFor="let post of searchArray; let i = index">
      <md-card class="userPostsGrid" (click)="goto('information', post.id)">
        <font size="0.1">
          <ng-container *ngIf="infoImageArray[i]">
            <h1><i class="material-icons">image</i></h1>
          </ng-container>
          <span class="mainText" [innerHTML]="post.text | slice:0:200 | marked"></span><ng-container *ngIf="post.text.length > 200">...</ng-container>
          <hr>
          {{post.created}}
      </font>
      </md-card>
    </masonry-brick>
  </masonry>
  <br><br><br>
</md-card>
