<!-- main app container -->
<app-nav-bar></app-nav-bar>

<!-- credits -->
<div class="text-center">
  <p>
    <a href="https://www.facebook.com/wildfyreapp/"><img class="icons" width="32px" height="32px" src="../assets/Facebook.png" alt="WildFyre Facebook"></a>
    <a href="https://WildFyre.net" target="_top"> WildFyre </a>
    <a href="https://twitter.com/wildfyreapp"><img class="icons" width="32px" height="32px" src="../assets/Twitter.png" alt="WildFyre Twitter"></a><br>
    Please report any and all bugs to <a href="mailto:bugs@wildfyre.net">bugs@wildfyre.net</a><br>
    <a href="https://wildfyre.net/privacy-policy/">Privacy Policy</a> | <a href="https://wildfyre.net/frequently-asked-questions/">FAQ</a> | <a href="https://wildfyre.net/terms-and-conditions/">Terms and Conditions</a>
  </p>
</div>
<br><br><br><br><br>
