<!-- main app container -->
<app-nav-bar></app-nav-bar>

<!-- credits -->
<div class="text-center">
  <p>
    <a href="https://www.facebook.com/wildfyreapp/"><img width="32px" height="32px" src="../assets/Facebook.png" alt="WildFyre Facebook"></a>
    <a href="https://WildFyre.net" target="_top"> WildFyre </a>
    <a href="https://twitter.com/wildfyreapp"><img width="32px" height="32px" src="../assets/Twitter.png" alt="WildFyre Twitter"></a><br>
    Please report any and all bugs to <a href="mailto:bugs@wildfyre.net">bugs@wildfyre.net</a>
  </p>
</div>
