<div fxLayout="column">
  <div fxLayout="row" fxFlexOffset="2rem" fxLayoutAlign="space-between start" (click)="back()" style="width: 100%;margin-left: 2rem;cursor: pointer;">
    <i class="material-icons" style="font-size: 40px;">keyboard_arrow_left</i>
    <div>
    </div>
  </div>
  <div fxLayout="column" style="margin-top: 2rem;" class="profile-container">
    <div fxLayout="row" fxLayoutAlign="start center">
      <h1 class="profile-title">My Posts</h1>
      <h1 class="profile-title" fxFlexOffset="1rem" style="margin: 0;color: #A2A2A2"><ng-container *ngIf="currentArea">{{currentArea.displayname}}</ng-container></h1>
    </div>
    <div fxLayout="column" class="profile-post-group" fxFlexOffset="1rem">
      <div *ngIf="currentArea" fxLayout="row" class="profile-post-row">
        <div class="profile-post-card" (click)="goto(post.id)" fxLayout="column" *ngFor="let post of backupPosts[currentArea.name] | paginate: { id: 'server', itemsPerPage: limit, currentPage: index, totalItems: totalCount }; let i = index">
          <div fxLayout="row" fxLayoutAlign="start center">
            <i class="material-icons" style="width: 24px;zoom: 0.7;color: #ffffff;margin-right: 1rem;" *ngIf="imageArray[currentArea.name][i] || post.image">image</i>
            <i class="material-icons" style="width: 24px;zoom: 0.7;color: #ffffff;" *ngIf="post.active">hourglass_full</i>
            <i class="material-icons" style="width: 24px;zoom: 0.7;color: #ffffff;" *ngIf="!post.active">hourglass_empty</i>
            <i class="material-icons" style="width: 24px;zoom: 0.7;color: #ffffff;" fxFlexOffset="1rem" *ngIf="!post.anonym">visibility_on</i>
            <i class="material-icons" style="width: 24px;zoom: 0.7;color: #ffffff;" fxFlexOffset="1rem" *ngIf="post.anonym">visibility_off</i>
            <i class="material-icons" style="width: 24px;zoom: 0.7;color: #ffffff;" fxFlexOffset="1rem">filter_none</i>
            <h5 style="color: #ffffff" fxFlexOffset="0.5rem">{{post.comments.length}}</h5>
          </div>
          <p class="marked" style="color: #ffffff;" innerHTML="{{post.text | marked: post}}"></p>
        </div>
      </div>
    </div>
    <pagination-controls fxFlexOffset="1rem" *ngIf="totalCount !== 0 && !loading" (pageChange)="getPosts($event)" id="server"></pagination-controls>
    <div *ngIf="loading" fxLayoutAlign="center center" fxFlexOffset="1rem">
      <mat-progress-spinner></mat-progress-spinner>
    </div>
  </div>
</div>
