/* You can add global styles to this file, and also import other style files */

a {
  color: #b54710;
}

button[type="submit"] {
    white-space: normal;
    width: 100%;
}

button[type="submit"]:hover {
    white-space: normal;
    width: 100%;
    color: white;
}

button.mat-simple-snackbar-action {
    color: white;
}

canvas {
  display: block;
  margin: 0 auto;
  user-select: none;
}

div.creationEditor {
  zoom: 0.65;
}

div.mat-slide-toggle-bar {
  z-index: 2;
}

font span span blockquote p {
  font-size: 12px;
}

font span span blockquote {
  display: table;
}

font span span ol {
  display: inline;
}

font span span ul {
  display: table-footer-group;
}

h1, h2 {
  text-align: center;
}

hr {
  border: none;
  height: 2px;
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

img {
  height: 100%;
  width: 100%;
}

masonry {
  width: 100%;
}

masonry.md-card.font.span.span.span {
  font-size: 5px;
}

md-card#404page.mat-card {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
}

md-input-container.mat-input-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

md-spinner {
  margin: 0 auto;
}

nav#navBMobile.mat-tab-nav-bar.mat-primary {
  background-color: #263238;
}

p {
  font-size: 100%;
}

span {
  display: block;
  height: 100%;
  margin: 0 auto;
}

span.result {
  width: 200px;
  height: 200px;
  border: 2px solid #bf3f7f;
}

.alert.alert-info {
  width: 100%;
  margin: auto;
  text-align: center;
}

.alert-info {
  color: #ffffff;
  background-color: #4f5b62;
  border-color: #000a12;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.alert-danger {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.brick {
  width: 50%;
  padding: 7px;
}

.centerText {
  text-align: center;
}

.comment-card {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
}

.commentEditing {
  float: right;
}

.content {
  border: 2px solid #ed763e;
}

.deleteButtons {
  float: right;
  zoom: 0.7;
  height: 100px;
  width: 100px;
}

.example-card {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
  word-wrap: break-word;
  background-color: #ed763e;
  border: 2px solid #4f5b62;
}

.mat-raised-button:hover {
  background-color: #4f5b62;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}

.example-card.mat-card {
  background-color: #EEEEEE;
}

.form, .form-group {
  text-align: center;
}

.help-block {
  font-size: 12px;
}

.hideMeClass {
  display: none;
}

.mainText {
  font-size: 110%;
  text-align: center;
  margin: 0 auto;
}

.mat-button {
  word-wrap: break-word;
}

.mat-icon-button {
  float: right;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.mat-raised-button:hover {
  background-color: #4f5b62;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}

.mat-tab-link {
  width: 20%;
}

.mat-tab-links {
  text-align: center;
}

.mobileButtons {
  color: white;
}

.markdown {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
    margin: 0 0 0px;
    line-height: 1;
    color: black;
    word-break: break-word;
    word-wrap: break-word;
    background-color: white;
    border: 0px solid #ccc;
    border-radius: 0px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
}

.markdown.p {
  overflow: hidden;
}

.notifCount {
  float: left;
}

.parentContainer {
  display: flex;
}

.parentContainer1.mat-card {
  padding: initial;
}

.pfp {
  text-align: left;
}

.pfp2 {
  text-align: left;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
}

.postEditing {
  display: flex;
  float: right;
}

.radio-group {
  display: grid;
}

.refreshButton {
  margin: 0 auto;
  width: 100%;
}

.spreadButtons {
  display: flex;
  justify-content: center;
  width: 49%;
  text-align: center;
}

.username {
  text-align: left;
}

.userPostsGrid {
  border: 2px solid #ed763e;
}

.wideButtons {
  width: 100%;
  margin: 0 auto;
}

#archive {
  float: right;
}

#captcha {
  margin: 0 auto;
  width: 304px;
}

#checkIcon, #clearIcon, #editIcon {
  float: right;
  zoom: 0.5;
}

#focusTouchZone {
  position: fixed;
  left: 0px;
  bottom: 80px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#toggle {
  text-align: center;
  z-index: 1;
}

#userID {
  float: right;
  color: #eceff1;
}

@media (max-width: 640px) {
    /*applied if browser window width is less than or equal to 600px*/

    a.mat-tab-link {
      width: 20%;
      min-width: 20%;
    }

    button.extinguishButton.mat-raised-button.mat-accent {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 50%;
      z-index: 5;
      border-radius: 0 !important;
    }

    button.igniteButton.mat-raised-button.mat-primary {
      position: fixed;
      right: 0px;
      top: 0px;
      width: 50%;
      z-index: 5;
      border-radius: 0 !important;
    }

    button#commentButton.mat-button.mat-accent {
      position: fixed;
      right: -1px;
      bottom: 44px;
      z-index: 3;
      width: 27%;
      height: 57px;
      padding-top: 10px;
      background-color: #263238;
      color: white;
      border-top-right-radius: 10px;
    }

    button#editorButton.mat-button.mat-accent {
      position: fixed;
      right: -1px;
      bottom: 80px;
      z-index: 4;
      width: 26%;
      height: 41px;
      background-color: #263238;
      color: white;
      border-top-right-radius: 10px;
    }

    .commentBox {
      position: fixed;
      left: 0px;
      bottom: 45px;
      z-index: 5;
      border: 6px solid #263238;
      width: 75%;
      overflow-y: scroll;
      border-top-left-radius: 10px;
      resize: none;
    }


    .icons {
      height: 5%;
      width: 5%;
    }

    .logo {
      display: block;
      margin: auto;
      width: 40%;
    }

    .numberCircle {
      background: #e65100;
      border-radius: 1em;
      color: white;
      display: inline-block;
      font-weight: bold;
      line-height: 2em;
      margin-right: -25px;;
      text-align: center;
      width: 2em;
      position: absolute;
      right: 2em;
    }

    .pfp2 {
      width: 50px;
      height: 50px;
      margin: 0 auto;
    }

    #navB {
      display: none;
    }

    #navBMobile {
      position: fixed;
      bottom: -1px;
      width: 100%;
      float: left;
      z-index: 5;
    }
}

@media (min-width: 641px) {
    /*applied if browser window width is greater than 600px*/

    button.extinguishButton.mat-raised-button.mat-accent {
      position: fixed;
      top: 41px;
      left: 0px;
      width: 50%;
      z-index: 5;
      border-radius: 0 !important;
    }

    button.igniteButton.mat-raised-button.mat-primary {
      position: fixed;
      right: 0px;
      top: 41px;
      width: 50%;
      z-index: 5;
      border-radius: 0 !important;
    }

    button#commentButton.mat-button.mat-accent {
      position: fixed;
      right: -1px;
      bottom: -1px;
      z-index: 3;
      width: 16%;
      height: 57px;
      padding-top: 10px;
      background-color: #263238;
      color: white;
      border-top-right-radius: 10px;
    }

    button#editorButton.mat-button.mat-accent {
      position: fixed;
      right: -1px;
      bottom: 3px;
      z-index: 4;
      width: 16%;
      height: 41px;
      background-color: #263238;
      color: white;
      border-top-right-radius: 10px;
    }

    .commentBox {
      position: fixed;
      left: 0px;
      bottom: 0px;
      z-index: 5;
      border: 6px solid #263238;
      width: 85%;
      overflow-y: scroll;
      border-top-left-radius: 10px;
      resize: none;
    }

    .icons {
      height: 2%;
      width: 2%;
    }

    .logo {
      display: block;
      margin: auto;
      width: 15%;
    }

    .numberCircle {
      background: #e65100;
      border-radius: 1em;
      color: white;
      display: inline-block;
      font-weight: bold;
      line-height: 2em;
      margin-right: -5px;;
      text-align: center;
      width: 2em;
      position: absolute;
      right: 2em;
    }

    .pfp {
      width: 200px;
      height: 200px;
    }

    .pfp2 {
      width: 50px;
      height: 50px;
      margin-bottom: 5px;
    }

    #navB {
      position: fixed;
      top: -1px;
      width: 100%;
      float: left;
      z-index: 5;
      background-color: white;
      zoom: 0.85;
    }

    #navBMobile {
        display: none;
    }
}
