/* You can add global styles to this file, and also import other style files */

.help-block {
  font-size: 12px;
}
h2 {
  font-size: 50px;
}
h1 {
  text-align: center;
}

.example-card {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
  word-wrap: break-word;
  background-color: #ed763e;
}
md-card#404page.mat-card {-
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
}

.comment-card {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
}

.mat-tab-links {
  text-align: center;
}

.mat-card-actions {
  float: right;
  position: absolute;
  top: 8%;
  right: 5%;
}

.form, .form-group, h2 {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 20%;
}

.alert-info {
  color: #ffffff;
  background-color: #4f5b62;
  border-color: #000a12;
  margin-left: 30%;
  margin-right: 30%;
}

#captcha {
  margin: 0 auto;
  width: 304px;
}

#toggle {
  text-align: center;
}

a {
  color: #b54710;
}

.mat-raised-button:hover {
  background-color: #4f5b62;
  z-index:1000;
  box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}

.example-card.mat-card {
  background-color: #EEEEEE;
}

.mat-button {
  word-wrap: break-word;
}
md-spinner {
  margin:0 auto;
}
.content {
  margin-right: 15%;
}
