<md-card class="example-card">
  <div *ngIf="post">
    <button class="spreadButtons" (click)="spread(false)" md-raised-button color="accent"><b>Extinguish</b></button>
    <button class="spreadButtons" (click)="spread(true)" md-raised-button color="primary"><font color="#000000"><b>Ignite</b></font></button>
    <md-card class="content">
      <md-card-content>
        <span class="mainText"><div markdown-to-html [data]="post.text"></div></span>
      </md-card-content>

      <md-card-header>
        <small><i><a (click)="gotoUser(post.author.user)" routerLinkActive="active">{{post.author.name}}</a> | {{post.created}}</i></small>
      </md-card-header>
      <div class="postEditing">


        <div *ngIf="!post?.subscribed">
          <button md-button (click)="subscribe(true)"><i class="material-icons">turned_in_not</i></button>
        </div>
        <div *ngIf="post?.subscribed">
          <button md-button (click)="subscribe(false)"><i class="material-icons">turned_in</i></button>
        </div>

        <button md-icon-button [mdMenuTriggerFor]="appMenu"><i class="material-icons">more_vert</i></button>
    <md-menu #appMenu="mdMenu">
      <input class="hideMeClass" type="text" [(ngModel)]="text">
      <button md-menu-item [class.btn-success]="isCopied" type="button" ngxClipboard [cbContent]="text" (cbOnSuccess)="isCopied = true"><md-icon>link</md-icon>Copy Link</button>
      <button md-menu-item (click)="openDialog(post, null, typeOfReport.Post)"><md-icon>flag</md-icon>Flag Post</button>
    </md-menu>
      </div>
      <br>
    </md-card>
      <md-input-container>
        <textarea mdInput name="comment" rows="3" cols="40" type="text" name="post" [(ngModel)]="model.comment" #comment="ngModel" placeholder="Post a Comment"></textarea>
      </md-input-container>
      <br>
      <button md-raised-button color="accent" [disabled]="loading" (click)="postComment()"><b>Comment</b></button>

    <md-list>
      <div *ngFor="let comment of post?.comments">
        <md-card class="comment-card">
          <div class="commentEditing">
          <button md-icon-button [mdMenuTriggerFor]="appMenu"><i class="material-icons">more_vert</i></button>
            <md-menu #appMenu="mdMenu">
              <button *ngIf="comment.author?.user == userID" md-menu-item color="warn" (click)="deleteComment(comment)"><md-icon>delete</md-icon>Delete Comment</button>
              <button *ngIf="!(comment.author?.user == userID)" md-menu-item (click)="openDialog(post, comment, typeOfReport.Comment)"><md-icon>flag</md-icon>Flag Comment</button>
            </md-menu>
          </div>
          <md-card-content>
            <div markdown-to-html [data]="comment.text"></div>
          </md-card-content>
          <md-card-header><small><i><a class="dateText" (click)="gotoUser(comment.author.user)" routerLinkActive="active">{{comment.author.name}}</a>  | {{comment.created}}</i></small></md-card-header>
        </md-card>
      </div>
    </md-list>
  </div>
</md-card>

<div id="toggle">
  Current Area:<br>
  Fun  &nbsp;<md-slide-toggle
  class="example-margin"
  [color]="color"
  [checked]="checked"
  (change)="onChange($event)">Information</md-slide-toggle><br>
  Current Area Reputation: {{rep?.spread}}.{{rep?.reputation}}
</div>
