<md-card class="example-card">
  <div *ngIf="post">
    <button class="spreadButtons" (click)="spread(false)" md-raised-button color="accent"><b>Extinguish</b></button>
    <button class="spreadButtons" (click)="spread(true)" md-raised-button color="primary"><font color="#000000"><b>Ignite</b></font></button>
    <md-card class="content">
      <md-card-content>
        <span class="mainText"><pre>{{post.text}}</pre></span>
      </md-card-content>

      <md-card-header>
        <small><i><a routerLink="/user/{{post.author.user}}" routerLinkActive="active">{{post.author.name}}</a> | {{post.created}}</i></small>
      </md-card-header>
      <div class="postEditing">
        <input class="hideMeClass" type="text" [(ngModel)]="text">
        <button class="linkingButtons" md-button [class.btn-success]="isCopied" type="button" ngxClipboard [cbContent]="text" (cbOnSuccess)="isCopied = true"><i class="material-icons">link</i></button>

        <div *ngIf="!post?.subscribed">
          <button md-button (click)="subscribe(true)"><i class="material-icons">turned_in_not</i></button>
        </div>
        <div *ngIf="post?.subscribed">
          <button md-button (click)="subscribe(false)"><i class="material-icons">turned_in</i></button>
        </div>
      </div>
    </md-card>
      <md-input-container>
        <textarea mdInput name="comment" rows="3" cols="40" type="text" name="post" [(ngModel)]="model.comment" #comment="ngModel" placeholder="Post a Comment"></textarea>
      </md-input-container>
      <br>
      <button md-raised-button color="accent" [disabled]="loading" (click)="postComment()"><b>Comment</b></button>

    <md-list>
      <div *ngFor="let comment of post?.comments">
        <md-card class="comment-card">
          <div *ngIf="comment.author?.user == userID" class="deleteButtons"><button md-button color="warn" (click)="deleteComment(comment)"><i class="material-icons">delete</i></button></div>
          <md-card-content>
            <pre>{{comment.text}}</pre>
          </md-card-content>

          <md-card-header><small><i><a routerLink="/user/{{comment.author.user}}" routerLinkActive="active">{{comment.author.name}}</a>  | {{comment.created}}</i></small></md-card-header>
        </md-card>
      </div>
    </md-list>
  </div>
</md-card>

<div id="toggle">
  Current Area:<br>
  Fun  &nbsp;<md-slide-toggle
  class="example-margin"
  [color]="color"
  [checked]="checked"
  (change)="onChange($event)">Information</md-slide-toggle><br>
  Current Area Reputation: {{rep?.spread}}.{{rep?.reputation}}
</div>
