<md-card class="example-card">
  <form name="Down Swipe" (click)="back()">
    <button md-button><i class="material-icons">arrow_back</i></button>
  </form>

  <md-card-content>
    <h2>{{post?.text}}</h2>
  </md-card-content>
  <md-card-header>
    <small><i>{{post?.author?.name}} | {{post?.created}}</i></small>
  </md-card-header>
  <hr>
  Comments:
  <md-list>
    <div *ngFor="let comment of post?.comments">
      <md-list-item>{{comment?.text}} | {{comment?.author?.name}}  | {{comment?.created}}</md-list-item>
    </div>
  </md-list>

  <form name="form" (ngSubmit)="f.form.valid && postComment()" #f="ngForm" novalidate>
    <md-input-container>
      <input name="comment" [(ngModel)]="model.comment" #comment="ngModel" mdInput placeholder="Post a Comment">
    </md-input-container>
    <button md-button [disabled]="loading"><b>Comment</b></button>
  </form>

</md-card>
